[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astropy = "*"
photutils = "*"
matplotlib = "*"
scipy = "*"
pillow = "*"
seaborn = "*"
opencv-python = "*"
scikit-image = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
